<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-MVC4._5._1-20150311122524;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-MVC4._5._1-20150311122524.mdf" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />-->

    <add key="Username" value="Universal API/uAPI7144561084" />
    <add key="Password" value="sqxGkwXZSG7e7k4GQXfxCR9Hr" />
    <add key="1GTargetBranch" value="P105394" />
    <add key="OriginApplication" value="UAPI" />
    <add key="ProviderCode" value="1G" />
    <add key="1PTargetBranch" value="your 1P targetBranch/WAB received in travelport welcome letter"/>
    <add key="1VTargetBranch" value="your 1V targetBranch/WAB received in travelport welcome letter"/>
    <add key="TRMTargetBranch" value="your TRM targetBranch/WAB received in travelport welcome letter"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AirRepriceSearchBinding" />
        <binding name="AirScheduleSearchBinding" />
        <binding name="AirLowFareSearchBinding" />
        <binding name="AirLowFareSearchAsynchBinding" />
        <binding name="AirRetrieveLowFareSearchBinding" />
        <binding name="AirPriceBinding" />
        <binding name="AirFareRulesBinding" />
        <binding name="AirAvailabilitySearchBinding" />
        <binding name="AirFareDisplayBinding" />
        <binding name="SeatMapBinding" />
        <binding name="AirRefundQuoteBinding" />
        <binding name="AirRefundTicketBinding" />
        <binding name="AirTicketingBinding" />
        <binding name="AirVoidDocumentBinding" />
        <binding name="AirRetrieveDocumentBinding" />
        <binding name="AirExchangeProcessBinding" />
        <binding name="AirExchangeQuoteBinding" />
        <binding name="AirExchangeTicketingBinding" />
        <binding name="AirMerchandisingOfferAvailabilityBinding" />
        <binding name="AirUpsellSearchBinding" />
        <binding name="FlightTimeTableBinding" />
        <binding name="AirPrePayBinding" />
        <binding name="EMDRetrieveBinding" />
        <binding name="EMDIssuanceBinding" />
        <binding name="AirMerchandisingDetailsBinding" />
        <binding name="FlightInfoBinding" />
        <binding name="FlightDetailsBinding" />
        <binding name="ExternalCacheAccessBinding" />
        <binding name="SystemPingBinding" />
        <binding name="SystemInfoBinding" />
        <binding name="SystemTimeBinding" />
        <binding name="UniversalRecordRetrieveServiceBinding" />
        <binding name="UniversalRecordHistorySearchServiceBinding" />
        <binding name="UniversalRecordSearchServiceBinding" />
        <binding name="AckScheduleChangeServiceBinding" />
        <binding name="UniversalRecordImportServiceBinding" />
        <binding name="UniversalRecordModifyServiceBinding" />
        <binding name="UniversalRecordCancelServiceBinding" />
        <binding name="ProviderReservationDisplayServiceBinding" />
        <binding name="ProviderReservationDivideServiceBinding" />
        <binding name="SavedTripCreateServiceBinding" />
        <binding name="SavedTripModifyServiceBinding" />
        <binding name="SavedTripRetrieveServiceBinding" />
        <binding name="SavedTripDeleteServiceBinding" />
        <binding name="SavedTripSearchServiceBinding" />
        <binding name="VehicleReservationServiceBinding" />
        <binding name="VehicleCancelServiceBinding" />
        <binding name="HotelReservationServiceBinding" />
        <binding name="HotelCancelServiceBinding" />
        <binding name="RailCreateReservationBinding" />
        <binding name="RailExchangeCreateReservationBinding" />
        <binding name="AirCreateReservationBinding" />
        <binding name="AirCancelBinding" />
        <binding name="AirMerchandisingFulfillmentBinding" />
        <binding name="PassiveReservationServiceBinding" />
        <binding name="PassiveCancelServiceBinding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomServiceBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:03:00">
          <textMessageEncoding messageVersion="Soap11" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483646" maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646" />
          </textMessageEncoding>
          <httpsTransport authenticationScheme="Basic" transferMode="Buffered" useDefaultWebProxy="true" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" allowCookies="false" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646" maxBufferSize="2147483646" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirRepriceSearchPortType" name="AirRepriceSearchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirScheduleSearchPortType" name="AirScheduleSearchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirLowFareSearchPortType" name="AirLowFareSearchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirLowFareSearchAsynchPortType" name="AirLowFareSearchAsynchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirRetrieveLowFareSearchPortType" name="AirRetrieveLowFareSearchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirPricePortType" name="AirPricePort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirFareRulesPortType" name="AirFareRulesPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirAvailabilitySearchPortType" name="AirAvailabilitySearchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirFareDisplayPortType" name="AirFareDisplayPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.SeatMapPortType" name="SeatMapPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirRefundQuotePortType" name="AirRefundQuotePort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirRefundTicketPortType" name="AirRefundTicketPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirTicketingPortType" name="AirTicketingPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirVoidDocumentPortType" name="AirVoidDocumentPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirRetrieveDocumentPortType" name="AirRetrieveDocumentBindingPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirExchangeProcessPortType" name="AirExchangeProcessPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirExchangeQuotePortType" name="AirExchangeQuotePort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirExchangeTicketingPortType" name="AirExchangeTicketingPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirMerchandisingOfferAvailabilityPortType"
        name="AirMerchandisingOfferAvailabilityPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirUpsellSearchPortType" name="AirUpsellSearchPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.FlightTimeTablePortType" name="FlightTimeTablePort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirPrePayPortType" name="AirPrePayPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.EMDRetrievePortType" name="EMDRetrievePort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.EMDIssuancePortType" name="EMDIssuancePort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.AirMerchandisingDetailsPortType" name="AirMerchandisingDetailsPort" />
      <endpoint address="http://localhost:8080/kestrel/FlightService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.FlightInfoPortType" name="FlightInfoPort" />
      <endpoint address="http://localhost:8080/kestrel/FlightService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="Travelport.ServiceProxy.KestrelData.AirProxy.FlightDetailsPortType" name="FlightDetailsPort" />
      <endpoint address="http://localhost:8080/kestrel/ExternalCacheAccessService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="SystemService.ExternalCacheAccessPortType" name="ExternalCacheAccessPort" />
      <endpoint address="http://localhost:8080/kestrel/SystemService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="SystemService.SystemPingPortType" name="SystemPingPort" />
      <endpoint address="http://localhost:8080/kestrel/SystemService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="SystemService.SystemInfoPortType" name="SystemInfoPort" />
      <endpoint address="http://localhost:8080/kestrel/SystemService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="SystemService.SystemTimePortType" name="SystemtimePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.UniversalRecordRetrieveServicePortType"
        name="UniversalRecordRetrieveServicePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordHistorySearchService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.UniversalRecordHistorySearchPortType"
        name="UniversalRecordHistorySearchServicePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.UniversalRecordSearchServicePortType"
        name="UniversalRecordSearchServicePort" />
      <endpoint address="http://localhost:8080/kestrel/ScheduleChangeService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.AckScheduleChangeServicePortType"
        name="AckScheduleChangeServicePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.UniversalRecordImportServicePortType"
        name="UniversalRecordImportServicePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.UniversalRecordModifyServicePortType"
        name="UniversalRecordModifyServicePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.UniversalRecordCancelServicePortType"
        name="UniversalRecordCancelServicePort" />
      <endpoint address="http://localhost:8080/kestrel/ProviderReservationDisplayService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.ProviderReservationDisplayServicePortType"
        name="ProviderReservationDisplayServicePort" />
      <endpoint address="http://localhost:8080/kestrel/UniversalRecordService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.ProviderReservationDivideServicePortType"
        name="ProviderReservationDivideServicePort" />
      <endpoint address="http://localhost:8080/kestrel/SavedTripCreateService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.SavedTripCreateServicePortType"
        name="SavedTripCreateServicePort" />
      <endpoint address="http://localhost:8080/kestrel/SavedTripModifyService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.SavedTripModifyServicePortType"
        name="SavedTripModifyServicePort" />
      <endpoint address="http://localhost:8080/kestrel/SavedTripRetrieveService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.SavedTripRetrieveServicePortType"
        name="SavedTripRetrieveServicePort" />
      <endpoint address="http://localhost:8080/kestrel/SavedTripDeleteService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.SavedTripDeleteServicePortType"
        name="SavedTripDeleteServicePort" />
      <endpoint address="http://localhost:8080/kestrel/SavedTripSearchService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.SavedTripSearchServicePortType"
        name="SavedTripSearchServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.VehicleReservationServicePortType"
        name="VehicleReservationServicePort" />
      <endpoint address="http://localhost:8080/kestrel/VehicleService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.VehicleCancelServicePortType"
        name="VehicleCancelServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.HotelReservationServicePortType"
        name="HotelReservationServicePort" />
      <endpoint address="http://localhost:8080/kestrel/HotelService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.HotelCancelServicePortType"
        name="HotelCancelServicePort" />
      <endpoint address="http://localhost:8080/kestrel/RailService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.RailCreateReservationPortType"
        name="RailCreateReservationPort" />
      <endpoint address="http://localhost:8080/kestrel/RailService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.RailExchangeCreateReservationPortType"
        name="RailExchangeCreateReservationPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.AirCreateReservationPortType"
        name="AirCreateReservationPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.AirCancelPortType" name="AirCancelPort" />
      <endpoint address="http://localhost:8080/kestrel/AirService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.AirMerchandisingFulfillmentPortType"
        name="AirMerchandisingFulfillmentPort" />
      <endpoint address="http://localhost:8080/kestrel/PassiveService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.PassiveReservationServicePortType"
        name="PassiveReservationServicePort" />
      <endpoint address="http://localhost:8080/kestrel/PassiveService"
        binding="customBinding" bindingConfiguration="CustomServiceBinding"
        contract="UniversalRecordService.PassiveCancelServicePortType"
        name="PassiveCancelServicePort" />
    </client>
  </system.serviceModel>
</configuration>